::-moz-selection { /* Code for Firefox */
  background: #7EC489;
}
::selection {
  background: #7EC489;
}
html, .root {
  font-size: 15px;
  line-height: 18px;
}
body, .article {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 18px;
  max-width: 100%;
  margin: 0 0;
  scroll-behavior: smooth;
}
body {
  margin: 0 0;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  display: block;
}
main {
  max-width: 105rem;
  margin: 0;
}
.trademark {
  display: grid;
  justify-content: start;
  position: absolute;
  z-index: 1;
}
.marchio {
  max-width: 6rem;
  padding: 8em 0 0 8em;  
}
/*------------------------------------------------ N A V / B A R ------------------------------------------------------------------------*/
header {
  position: -webkit-sticky;
  position: sticky;
  top:0;
}
.navbar { /*navigation menù*/
  background-color: #D1E3C3;
  border-bottom: 1.5px solid #000;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: end;
  overflow:scroll;
}
.navbar a { /*voce 'about' nav menù*/ 
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Libre Franklin', sans-serif;
  line-height: 0;
  text-decoration: none;
}
.subnavbtn {
  border: none;
  font-family: 'Libre Franklin', sans-serif;
  line-height: 0;
  font-weight: 500;
  padding: 1em;
  text-decoration: none;
}
.subnav { /*bottone voce 'illustratore' del nav menù*/
  outline: none;
  margin: 0;
  line-height: 0;
  border: none;
  padding: 1em;
}
/*menù a tendina per selezionare gli illustratori disponibili*/
.subnav-content {
  background-color: #fff;
 border: 1px solid #000;
 display: none;
 position: absolute;
 left: 0;
 z-index: 2;
 margin: 1em 0 0 85em;
 padding: 3em;
 max-width: 21rem;
}  
/*link del menù a tendina*/
.subnav-content a {
  border: none;
  text-decoration: none;
  position: relative; 
  z-index: 1;
  margin: 0.5em;
  padding: 1em 0.5em;
}  
.subnav-content a:hover { /*bottone singolo illustratore al passaggio del mouse*/
  border-bottom: 6px solid #000;
  color: #7EC489;
  max-width: 7rem;
}
/*dimensione e disposizione menù a tendina con illustratori*/
.subnav:hover .subnav-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
  padding: 3em 1em;
}
a {
  line-height: 0;
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #DBE3C3;
}
/*------------------------------------------------ H E R O ---------------------------------------------------------------------*/
.photo img {
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
  object-position: left center;
  opacity: 0.7;
  position: relative;
  z-index: -1;
}
section.box {
  background-color: #E0E3C3;
  border: none;
  border-bottom: 1.5px solid #000;
  display: grid;
  place-items: center;
  padding: 7em;
  max-height: 10rem;
}
h3.about {
  font-family: 'Montagu Slab', serif;
  font-size: 1.6em;
  margin-top: 0.75em;
  margin-bottom: 0em;
  font-weight: 500;
  line-height: 28.8px;
  max-width: 45rem;
  margin: 0;
}
.oblò {
  display: flex;
  gap: 4em;
  max-width: 150rem;
}
.ppl {
  display: grid;
  place-items: center;
  padding: 3em 0 0 0;
}
.ppl1, .ppl2 {
  border: 1.5px solid #000;
  border-radius: 150px;
  max-width: 15em;
  max-height: 15em;
}
.info {
  display: grid;
  place-content: center;
  width: 100%;
}
.subtitle {
  max-width: 33rem;
  margin: 0;
  padding: 4em;
}
p.ppl {
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 0em;
  margin-bottom: 1.2em;
  font-weight: 500;
  line-height: 33.6px;
  margin: 0;
  max-width: 30rem;
}
.bug {
  margin: 0;
}
.move {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gif {
  position: fixed;
  z-index: 1;
  border: 2px solid #000;
  border-radius: 40px;
}
img.pulce {
  width: 55px;
  height: 55px;
  max-width: 100%;
  object-fit: cover;
}
/*------------------------------------------------------ F R E C C I N A ----------------------------------------------------------------*/
a.freccina {
  background-color: #B2C47E;
    color: #000;
    border-radius: 20px;
    padding: 0.8em 0.5em;
    text-decoration: none;
    position: fixed;
    bottom: 8px;
    right: 21px;
    }
a.freccina:hover {
  background-color: #fff;
  border: 1.5px solid #000;
  color: #000;
}
 /*--------------------------------------------------------- F O O T E R -----------------------------------------------------------------*/
 footer {
  background-color:#B2C47E;
  border-top: 1.5px solid #000;
  text-align: center;
  padding: 1em;
}
ul.down {
  list-style: none;
  margin: 0;
}
li.down {
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 0em;
  margin-bottom: 1.2em;
  margin: 0;
}
/*_________________________________________________________________ 1 ___________________________________________________________________*/
@media (max-width: 35em) {
.navbar { /*navigation menù*/
  background-color: #D1E3C3;
  border-bottom: 1.5px solid #000;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: end;
  overflow:scroll;
}
.navbar a { /*voce 'about' nav menù*/ 
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Libre Franklin', sans-serif;
  line-height: 0;
  text-decoration: none;
}
.subnav { /*voci 'llustratori' e 'about' menù nav*/
  float: right;
  overflow: hidden;
}
.subnavbtn {
  border: none;
  font-family: 'Libre Franklin', sans-serif;
  line-height: 0;
  padding: 1em;
  text-decoration: none;
} 
.subnav .subnavbtn { /*bottone voce 'illustratore' del nav menù*/
  border: none;
  outline: none;
  padding: 1em 2em;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
/*passaggio del mouse si accende il bottone del nav menù e voci del menù a tendina*/
.navbar a:hover, .subnav:hover .subnavbtn {
  margin: 0;
  color:#7EC489;
  font-weight: 500;
}  
/*menù a tendina per selezionare gli illustratori disponibili*/
.subnav-content {
  background-color: #D1E3C3;
  display: none;
  position: absolute;
  left: 0;
  max-width: 13rem;
  z-index: 2;
  margin: 1em 0 8em 13em
}  
/*link del menù a tendina*/
.subnav-content a {
  border: none;
  text-decoration: none;
  position: relative; 
  z-index: 1;
  margin: 0;
  padding: 1em;
}  
.subnav-content a:hover { /*bottone singolo illustratore al passaggio del mouse*/
  background-color: #B2C47E;
  border: none;
  color: #000;
  font-weight: 500;
}
/*dimensione e disposizione menù a tendina con illustratori*/
.subnav:hover .subnav-content {
  display: grid;
  justify-content: center;
}
body {
   margin: 0 0;
    scroll-behavior: smooth;
  }
main, .ppl {
  max-width: 500px;
  margin: 0;
}
section.box {
  background-color: #E0E3C3;
  border: none;
  border-bottom: 1.5px solid #000000;
  display: flex;
  justify-content: center;
  padding: 5.5em;
  max-height: 10rem;
}
h3.about {
  max-width: 22em;
  font-family: 'Montagu Slab', sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  margin: 0;
}
section.squares {
  padding: 3em;
  }
.oblò {
  gap: 1em;
  max-width: 100rem;
}
.ppl {
    display: grid;
    place-content: center;
    padding: 0 2em 0 2em;
}
.ppl1, .ppl2 {
    border: 2px solid #000000;
    border-radius: 80px;
    max-width: 10rem;
    max-height: 10rem;
}
.subtitle {
    padding: 0 0 4em 0;
}
.team {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    max-width: 22em;
}
/*_______________________________________________________________________________________________________________________________________*/
footer {background-color:#B2C47E;}
.footer {
  display: grid;
  place-items: start;
}
li.down {
  font-weight: 600;
}
/*_______________________________________________________________________________________________________________________________________*/
a.freccina {
  color: black;
  background: #B2C47E;
  border-radius: 20px;
  padding: 0.8em 0.5em;
  text-decoration: none;
  position: fixed;
  bottom: 13px;
  right: 21px;
}
a.freccina:hover {
  border: 1.5px solid #000;
  color: rgb(0, 0, 0);
}
}
/*_________________________________________________________________ 2 ___________________________________________________________________*/
@media (max-width: 35em) {
.trademark {
    border-radius: 0 0 4px 0;
  }
.marchio {
    max-width: 2rem;
    padding: 6em 1em 1em 3em;  
  }
}
/*_________________________________________________________________ 3 ___________________________________________________________________*/
@media (min-width: 35em) {
.trademark {
  border-radius: 0 0 4px 0;
}
.marchio {
    max-width: 3rem;
    padding: 6em 1em 1em 3em;  
}
}
@media (min-width: 50em) {
.trademark {
    border-radius: 0 0 4px 0;
}
.marchio {
    max-width: 4.5rem;
    padding: 6em 1em 1em 6em;  
}
}
@media (min-width: 70em) {
.trademark {
    border-radius: 0 0 4px 0;
  }
.marchio {
    max-width: 6rem;
    padding: 6em 1em 1em 9em;  
  }
}