::-moz-selection { /* Code for Firefox */
  background: #7EC489;
}
::selection {
  background: #7EC489;
}
body {
  margin: 0 0;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  display: block;
}
main {
  max-width: 1000px;
  margin: 0;
}
.trademark {
  display: grid;
  justify-content: start;
  position: absolute;
  z-index: 1;
}
.marchio {
  max-width: 6rem;
  padding: 8em 0 0 8em;  
}
/*------------------------------------------------ N A V / B A R ------------------------------------------------------------------------*/
nav {
  background-color: #B2C47E;
  border-bottom: 1.5px solid #000;
  display: flex;
  justify-content: end;
}
nav a:hover {
  background-color: #7EC489;
  color: #E0E3C3;
  padding: 21px;
}
ul.up, ul.down {
  list-style: none;
  margin: 0;
}
ul.up {
  padding: 21px 21px;
}
li.up {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  display: inline-block;
  padding: 0 34px 0 0;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #DBE3C3;
}
.herobox {
  display: flex;
  justify-content: center;
  height: 610px;
  background-image: url("../pics/c.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 40%;
}
section.box {
  background-color: #E0E3C3;
  border: 1.5px solid #000;
  display: grid;
  place-items: center;
  padding: 7em;
  max-height: 10rem;
}
h3.about {
  max-width: 30rem;
  font-family: 'Montagu Slab', sans;
  font-size: 24px;
  font-weight: 500;
  max-width: 650px;
  line-height: 28.8px;
  margin: 0;
  max-width: 45rem;
}
section.squares {
  background-color: rgb(218, 252, 188);
  padding: 4em;
}
.oblò {
  display: flex;
  gap: 4em;
  max-width: 150rem;
}
.ppl {
  display: grid;
  place-items: center;
}
.ppl1, .ppl2 {
  border: 1.5px solid #000;
  border-radius: 150px;
  max-width: 15em;
  max-height: 15em;
}
.info {
  display: grid;
  place-items: center;
}
.subtitle {
  margin: 0;
  padding: 4em;
}
p.ppl {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 33.6px;
  margin: 0;
  max-width: 36rem;
}
section.bug {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 55px 0 0;
  position: absolute;
  z-index: 1;
}
img.pulce {
  width: 55px;
  height: 55px;
  max-width: 100%;
  object-fit: cover;
}
a.freccina {
  color: black;
  background: #ffffff;
  font-display: center;
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  position: fixed;
  bottom: 8px;
  right: 15px;
  z-index: 99px;
  }
a.freccina:hover {
  color: white;
  background-color: #7EC489;
  border: 1px solid #000;
 }
 footer {
  background-color:#B2C47E;
  padding: 0;
  border-top: 1.5px solid #000;
  text-align: center;
}
ul.down {
  list-style: none;
  margin: 0;
}
li.down {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 21px 233px;
}