::-moz-selection { /* Code for Firefox */
  background: #7EC489;
}
::selection {
  background: #7EC489;
}
body {
  margin: 0 0;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  display: block;
}
main {
  margin: 0;
}
/*---------------------------------------------- T R A D E M A R K ---------------------------------------------------------------------*/
.trademark {
  display: grid;
  justify-content: start;
  position: absolute;
  z-index: 1;
}
.marchio {
  max-width: 6rem;
  padding: 8em 0 0 8em;  
}
/*------------------------------------------------ N A V / B A R ------------------------------------------------------------------------*/
nav {
  background-color: #B2C47E;
  border-bottom: 1.5px solid #000;
  display: flex;
  justify-content: end;
}
nav a:hover {
  background-color: #7EC489;
  color: #E0E3C3;
  padding: 1rem 2rem;
}
ul.up {
  list-style: none;
  margin: 0;
}
li.up {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  padding: 1rem 2rem;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #DBE3C3;
}
.photo img {
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
}
div.nastro {
  background-color: #D1E3C3;
  border-bottom: 1.5px solid #000;
  display: grid;
  place-items: center;
  padding: 7em;
  max-height: 10rem;
}
h2 {
    font-family: 'Montagu Slab', serif;
    font-size: 48px;
    font-weight: 500;
    margin: 0;
}
p {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 1em 0 0 0;
}
/*---------------------------------------------------------------------------------------------------------------------------------------*/
.recapiti {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em;
  margin: 3em;
  gap: 7em;
}
.recapiti p {
  margin: 0;
}
.viabold {
  font-weight: 800;
}
.via, .mail, .tel {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
/*------------------------------------------------- F O R M  /  C O N T A C T -----------------------------------------------------------*/
.contattaci {
  display: grid;
  place-items: center;
}
*:focus {
	outline: 0;
}
/* Add styles to 'container' class */
.container {
  margin: 4em;
	border-radius: 4px;
}
/* Add styles to 'label' selector */
label {
  font-family: 'Libre Franklin', sans-serif;
	font-size: 14px;
  font-weight: 500;
}
/* Add styles to 'input' and 'textarea' selectors */
input[type=text], input[type=email], textarea {
    padding: 1em 2em;
    border: 0.5px solid #000;
    border-bottom: 3px solid #000;
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
    margin: 0.5em 0 2em 0;
}
/* Add styles to show 'focus' of selector */
input[type=text]:focus, input[type=email]:focus, textarea:focus {
	border-bottom: 5px solid #7EC489;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
/* style button */
input[type=submit] {
  background-color: #D1E3C3;
  border: 3px solid #000;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 600;
	margin: 1em auto;
	outline: 0;
	color: #000000;
	padding: 0.5em 1em;
	transition: all ease-in-out 0.1s;
}
/* Add styles for 'focus' property */
input[type=submit]:focus {
	color: #7EC489;
}
/* Style 'hover' property */
input[type=submit]:hover {
  background-color: #fff;
  font-weight: 700;
}
/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: start;
}
/*---------------------------------------------------- F R E C C I N A ------------------------------------------------------------------*/
a.freccina {
  color: black;
  background: #ffffff;
  border-radius: 20px;
  padding: 8px;
  text-decoration: none;
  position: fixed;
  bottom: 7px;
  right: 25px;
  }
a.freccina:hover {
background-color: #fff;
border: 1.5px solid #000;
color: rgb(0, 0, 0);
}
/*---------------------------------------------------- F O O T E R ----------------------------------------------------------------------*/
footer {
  background-color:#B2C47E;
  border-top: 1.5px solid #000;
  text-align: center;
}
.footer {
  padding: 1rem 2rem;
  min-height: 21px; 
  max-height: 233px
}
ul.down {
  list-style: none;
  margin: 0;
}
li.down {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
/*_________________________________________________________________ 1 ___________________________________________________________________*/
@media (max-width: 35em) {
footer {
  background-color:#B2C47E;
  padding: 0;
  border-top: 1.5px solid #000;
  text-align: center;
}
ul.down {
  list-style: none;
  margin: 0;
}
.footer {
display: grid;
place-items: start;
}
li.down {
font-weight: 600;
}
}
/*_________________________________________________________________ 2 ___________________________________________________________________*/
@media (max-width: 35em) {
  .trademark {
    border-radius: 0 0 4px 0;
  }
  .marchio {
    max-width: 2rem;
    padding: 6em 1em 1em 3em;  
  }
}
/*_________________________________________________________________ 3 ___________________________________________________________________*/
@media (min-width: 35em) {
  .trademark {
  border-radius: 0 0 4px 0;
}
  .marchio {
    max-width: 3rem;
    padding: 6em 1em 1em 3em;  
}
}
@media (min-width: 50em) {
  .trademark {
    border-radius: 0 0 4px 0;
}
  .marchio {
    max-width: 4.5rem;
    padding: 6em 1em 1em 6em;  
}
}
@media (min-width: 70em) {
  .trademark {
    border-radius: 0 0 4px 0;
  }
  .marchio {
    max-width: 6rem;
    padding: 6em 1em 1em 9em;  
  }
}