::-moz-selection { /* Code for Firefox */
  background: #7EC489;
}
::selection {
  background: #7EC489;
}
html, .root {
  font-size: 15px;
  line-height: 18px;
}
body, .article {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 18px;
  max-width: 100%;
  margin: 0 0;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  display: block;
}
main {
  max-width: 100%;
  margin: 0;
}
/*---------------------------------------------- T R A D E M A R K ---------------------------------------------------------------------*/
.trademark {
  display: grid;
  justify-content: start;
  position: absolute;
  z-index: 1;
}
.marchio {
  max-width: 6rem;
  padding: 8em 0 0 8em;  
}
/*------------------------------------------------ N A V / B A R ------------------------------------------------------------------------*/
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.navbar { /*navigation menù*/
  background-color: #D1E3C3;
  border-bottom: 1.5px solid #000;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: end;
  overflow:scroll;
}
.navbar a { /*voce 'about' nav menù*/ 
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Libre Franklin', sans-serif;
  line-height: 0;
  text-decoration: none;
}
.subnavbtn {
  border: none;
  font-family: 'Libre Franklin', sans-serif;
  line-height: 0;
  font-weight: 500;
  padding: 1em;
  text-decoration: none;
}
.subnav { /*bottone voce 'illustratore' del nav menù*/
  outline: none;
  margin: 0;
  line-height: 0;
  border: none;
  padding: 1em;
}
/*menù a tendina per selezionare gli illustratori disponibili*/
.subnav-content {
  background-color: #fff;
 border: 1px solid #000;
 display: none;
 position: absolute;
 left: 0;
 z-index: 2;
 margin: 1em 0 0 85em;
 padding: 3em;
 max-width: 21rem;
}  
/*link del menù a tendina*/
.subnav-content a {
  border: none;
  text-decoration: none;
  position: relative; 
  z-index: 1;
  margin: 0.5em;
  padding: 1em 0.5em;
}  
.subnav-content a:hover { /*bottone singolo illustratore al passaggio del mouse*/
  border-bottom: 6px solid #000;
  color: #7EC489;
  max-width: 7rem;
}
/*dimensione e disposizione menù a tendina con illustratori*/
.subnav:hover .subnav-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
  padding: 3em 1em;
}
a {
  line-height: 0;
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #DBE3C3;
}
.photo img {
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
  opacity: 0.7;
  position: relative;
  z-index: -1;
}
div.nastro {
  background-color: #D1E3C3;
  border-bottom: 1.5px solid #000;
  display: grid;
  place-items: center;
  padding: 7em;
  max-height: 10rem;
}
h2 {
    font-family: 'Montagu Slab', serif;
    font-size: 2.6em;
    line-height: 1.38461538em;
    margin-top: 0.46153846em;
    margin-bottom: 0.46153846em;
    font-weight: 500;
    margin: 0;
}
p {
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 0em;
  margin-bottom: 1.2em;
  font-weight: 400;
}
/*---------------------------------------------------------------------------------------------------------------------------------------*/
.recapiti {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em;
  margin: 3em;
  gap: 7em;
}
.recapiti p {
  margin: 0;
}
.viabold {
  font-weight: 800;
}
.via, .mail, .tel {
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 0em;
  margin-bottom: 1.2em;
  font-weight: 400;
}
/*------------------------------------------------- F O R M  /  C O N T A C T -----------------------------------------------------------*/
.contattaci {
  display: grid;
  place-items: center;
}
*:focus {
	outline: 0;
}
/* Add styles to 'container' class */
.container {
  margin: 4em;
	border-radius: 4px;
}
/* Add styles to 'label' selector */
label {
  font-family: 'Libre Franklin', sans-serif;
	margin-top: 0em;
  margin-bottom: 1.2em;
  font-weight: 500;
}
/* Add styles to 'input' and 'textarea' selectors */
input[type=text], input[type=email], textarea {
    padding: 1em 2em;
    border: 0.5px solid #000;
    border-bottom: 3px solid #000;
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
    margin: 0.5em 0 2em 0;
}
/* Add styles to show 'focus' of selector */
input[type=text]:focus, input[type=email]:focus, textarea:focus {
	border-bottom: 5px solid #7EC489;
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 0em;
  margin-bottom: 1.2em;
  font-weight: 500;
}
/* style button */
input[type=submit] {
  background-color: #D1E3C3;
  border: 3px solid #000;
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 0em;
  margin-bottom: 1.2rem;
  font-weight: 600;
	outline: 0;
	color: #000000;
	padding: 0.5em 1em;
	transition: all ease-in-out 0.1s;
}
/* Add styles for 'focus' property */
input[type=submit]:focus {
	color: #7EC489;
}
/* Style 'hover' property */
input[type=submit]:hover {
  background-color: #fff;
  font-weight: 700;
}
/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: start;
}
/*---------------------------------------------------- F R E C C I N A ------------------------------------------------------------------*/
a.freccina {
  background-color: #B2C47E;
    color: #000;
    border-radius: 20px;
    padding: 0.8em 0.5em;
    text-decoration: none;
    position: fixed;
    bottom: 8px;
    right: 21px;
    }
a.freccina:hover {
  background-color: #fff;
  border: 1.5px solid #000;
  color: #000;
}
/*---------------------------------------------------- F O O T E R ----------------------------------------------------------------------*/
footer {
  background-color:#B2C47E;
  border-top: 1.5px solid #000;
  text-align: center;
  padding: 1em;
}
ul.down {
  list-style: none;
  margin: 0;
}
li.down {
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 0em;
  margin-bottom: 1.2em;
  margin: 0;
}
/*_________________________________________________________________ 1 ___________________________________________________________________*/
@media (max-width: 35em) {
.recapiti {
  display: grid;
  place-items: center;
  gap: 3em;
}
.recapiti p {
  margin: 0;
}
.viabold {
  font-weight: 800;
}
.via, .mail, .tel {
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 0em;
  margin-bottom: 1.2em;
  font-weight: 400;
}
/*_______________________________________________________________________________________________________________________________________*/
footer {background-color:#B2C47E;}
.footer {
  display: grid;
  place-items: start;
}
li.down {
  font-weight: 600;
}
/*_______________________________________________________________________________________________________________________________________*/
a.freccina {
  color: black;
  background: #B2C47E;
  border-radius: 20px;
  padding: 0.8em 0.5em;
  text-decoration: none;
  position: fixed;
  bottom: 13px;
  right: 21px;
}
a.freccina:hover {
  border: 1.5px solid #000;
  color: rgb(0, 0, 0);
}
}
/*_________________________________________________________________ 2 ___________________________________________________________________*/
@media (max-width: 35em) {
.trademark {
  border-radius: 0 0 4px 0;
}
.marchio {
  max-width: 2rem;
  padding: 6em 1em 1em 3em;  
}
}
/*_________________________________________________________________ 3 ___________________________________________________________________*/
@media (min-width: 35em) {
.trademark {
  border-radius: 0 0 4px 0;
}
.marchio {
  max-width: 3rem;
  padding: 6em 1em 1em 3em;  
}
}
@media (min-width: 50em) {
.trademark {
  border-radius: 0 0 4px 0;
}
.marchio {
  max-width: 4.5rem;
  padding: 6em 1em 1em 6em;  
}
}
@media (min-width: 70em) {
.trademark {
  border-radius: 0 0 4px 0;
}
.marchio {
  max-width: 6rem;
  padding: 6em 1em 1em 9em;  
}
}