::-moz-selection { /* Code for Firefox */
  background: #7EC489;
}
::selection {
  background: #7EC489;
}
body {
    margin: 0;
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
    display: block;
}
main {
  max-width: 1000px;
  margin: 0;
}
.pics img {
  max-width: 700px;
}
/*-------------------------------------------------------- T R A D E M A R K ------------------------------------------------------------*/
.trademark {
  display: grid;
  justify-content: start;
  position: absolute;
  z-index: 1;
}
.marchio {
  max-width: 6rem;
  padding: 8em 0 0 8em;  
}
/*-------------------------------------------------------- N A V  B A R -----------------------------------------------------------------*/
.navbar { /*navigation menù*/
  border-bottom: 1.5px solid #000;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  overflow:scroll;
  background-color: #B2C47E;
}
.navbar a { /*voce 'about' nav menù*/
border: none;
display: grid;
grid-template-columns: 1fr;
font-family: 'Libre Franklin', sans-serif;
font-size: 14px;
font-weight: 500;
padding: 1em 2em;
text-decoration: none;
}
.subnav { /*voci 'llustratori' e 'about' menù nav*/
  float: right;
  overflow: hidden;
}
.subnavbtn {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.subnav .subnavbtn { /*bottone voce 'illustratore' del nav menù*/
  border: none;
  outline: none;
  padding: 1em 2em;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
/*passaggio del mouse si accende il bottone del nav menù e voci del menù a tendina*/
.navbar a:hover, .subnav:hover .subnavbtn {
  margin: 0;
  color:#E0E3C3;
}  
/*menù a tendina per selezionare gli illustratori disponibili*/
.subnav-content {
 background-color: #e0e3c3c5;
 border-bottom: 1.5px solid #000000;
 display: none;
 position: absolute;
 left: 0;
 width: 100%;
 z-index: 2;
}  
/*link del menù a tendina*/
.subnav-content a {
  border: none;
  text-decoration: none;
  position: relative; 
  z-index: 1;
  margin: 0;
  padding: 1.5em;
}  
.subnav-content a:hover { /*bottone singolo illustratore al passaggio del mouse*/
  border-bottom: 4px solid #000000;
  color: #7EC489;
}
/*dimensione e disposizione menù a tendina con illustratori*/
.subnav:hover .subnav-content {
  display: flex;
  justify-content: center;
  
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #DBE3C3;
}
/*---------------------------------------------------------- H E R O  /  P I C ----------------------------------------------------------*/
.hero {
  max-width: 1000em;
}
.herobox img {
  opacity: 40%;
  max-height: 30rem;
  object-fit: cover;
  width: 100%;
  margin: 0;
}
/*----------------------------------------------------- E V I D E N Z I A T O R E -------------------------------------------------------*/
.sito:hover {
  color: #000;
}
:root {
    --link-color: #000;
}
.sito {
    position: relative;
    color: var(--link-color);
    display: inline-block;
}
.sito:after {
    position: absolute;
    left: 0px;
    background-color: var(--link-color);
    content: '';
    display: block;
    height: 5px;
    transition: width .7s;
    width: 0;
    margin: 5px 0 0 0;
}
.sito:hover:after {
    width: 100%;
}
/*------------------------------------------------------- H E A D L I N E ---------------------------------------------------------------*/
.autore {
  max-width: 100%;
  display: grid;
  place-items: end;
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 13em 0 0 75em;
}
h2.name {
  color: #000;
  font-family: 'Montagu Slab', serif;
  font-size: 40px;
  font-weight: 500;
  max-width: 11rem;
  margin: 0;
}
p.web {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
/*----------------------------------------------------------- T E X T -------------------------------------------------------------------*/
.about {
  background-color: #dbe3c3;
  display: grid;
  place-items: center;
  padding: 3em;
  margin: 0;
}
.text {
  padding: 4em;
  max-width: 34rem;
}
h5.z {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
/*---------------------------------------------------------- M A I N --------------------------------------------------------------------*/
.card {
  display: grid;
  place-items: center;
}
main, .card {
  max-width: 1000em;
}
.pics {
  display: grid;
  place-items: center;
}
.pics img {
  margin: 0;
  max-width: 40rem;
  padding: 5em;
}
/*------------------------------------------------------ F R E C C I N A ----------------------------------------------------------------*/
a.freccina {
  color: black;
  background: #ffffff;
  border-radius: 20px;
  padding: 8px;
  text-decoration: none;
  position: fixed;
  bottom: 7px;
  right: 25px;
  }
a.freccina:hover {
background-color: #fff;
border: 1.5px solid #000;
color: rgb(0, 0, 0);
}
 /*-------------------------------------------------------- F O O T E R -----------------------------------------------------------------*/
 footer {
  background-color:#B2C47E;
  border-top: 1.5px solid #000;
  text-align: center;
}
.footer {
  padding: 1rem 2rem;
  min-height: 21px; 
  max-height: 233px
}
ul.down {
  list-style: none;
  margin: 0;
}
li.down {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
/*_________________________________________________________________ 1 ___________________________________________________________________*/
@media (max-width: 35em) {
.autore { 
      width: 100%;
      display: grid;
      place-items: center end;
      position: absolute;
      z-index: 1;
      margin: 5em 0 0 -5em; /*ok*/
      padding: 0;
    }
  h2.name {
    color: #000;
    font-family: 'Montagu Slab', serif;
    font-size: 24px;
    font-weight: 500;
    max-width: 5rem;
    margin: 0;
  }
  /*_______________________________________________________________________________________________________________________________________*/
  .about {
    background-color: #ffffff;
    display: grid;
    place-items: center;
    margin: 0;
  }
  .text {
    max-width: 34rem;
    margin: 0;
    padding: 0;
  }
  h5.z {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
  }
  /*_______________________________________________________________________________________________________________________________________*/
  .card {
    display: grid;
    place-items: center;
  }
  .pics {
    background-color: #dbe3c3;
    display: grid;
    place-items: center;
  }
  .pics img {
    width: 100%;
    padding: 3em 0 0 0;
  }
  footer {
    background-color:#B2C47E;
    padding: 0;
    border-top: 1.5px solid #000;
    text-align: center;
  }
  ul.down {
    list-style: none;
    margin: 0;
  }
  .footer {
  display: grid;
  place-items: start;
  }
  li.down {
  font-weight: 600;
  }
  }
  /*_________________________________________________________________ 2 ___________________________________________________________________*/
  @media (max-width: 35em) {
    .trademark {
      border-radius: 0 0 4px 0;
    }
    .marchio {
      max-width: 2rem;
      padding: 6em 1em 1em 3em;  
    }
    .autore {
      width: 100%;
      display: grid;
      place-items: center end;
      position: absolute;
      z-index: 1;
      padding: 0;
    }
  h2.name {
    color: #000;
    font-family: 'Montagu Slab', serif;
    font-size: 24px;
    font-weight: 500;
    max-width: 5rem;
    margin: 0;
  }
  }
  /*_________________________________________________________________ 3 ___________________________________________________________________*/
  @media (min-width: 35em) {
    .trademark {
    border-radius: 0 0 4px 0;
  }
    .marchio {
      max-width: 3rem;
      padding: 6em 1em 1em 3em;  
  }
  .autore {
    width: 100%;
    display: grid;
    place-items: center end;
    position: absolute;
    z-index: 1;
    margin: 8em 0 0 -6em; /*ok*/
    padding: 0;
  }
  h2.name {
  color: #000;
  font-family: 'Montagu Slab', serif;
  font-size: 24px;
  font-weight: 500;
  max-width: 5rem;
  margin: 0;
  }
  }
  /*_________________________________________________________________ 4 ___________________________________________________________________*/
  @media (min-width: 50em) {
    .trademark {
      border-radius: 0 0 4px 0;
  }
    .marchio {
      max-width: 4.5rem;
      padding: 6em 1em 1em 6em;  
  }
  .autore {
    width: 100%;
    display: grid;
    place-items: center end;
    position: absolute;
    z-index: 1;
    margin: 21em 0 0 -25em; /*ok*/
    padding: 0;
  }
  h2.name {
  color: #000;
  font-family: 'Montagu Slab', serif;
  font-size: 24px;
  font-weight: 500;
  max-width: 5rem;
  margin: 0;
  }
  }
  /*_________________________________________________________________ 5 ___________________________________________________________________*/
  @media (min-width: 70em) {
  .trademark {
      border-radius: 0 0 4px 0;
    }
  .marchio {
      max-width: 6rem;
      padding: 6em 1em 1em 9em;  
    }
  }