::-moz-selection { /* Code for Firefox */
  background: #7EC489;
}
::selection {
  background: #7EC489;
}
body {
  margin: 0 0;
  scroll-behavior: smooth;   
}
img {
  max-width: 100%;
  display: block;
}
main {
  max-width: 1000px;
  margin: 0;
}
.contentpics img {
  max-width: 350px;
}
.trademark {
  display: grid;
  justify-content: start;
  position: absolute;
  z-index: 1;
}
.marchio {
  max-width: 6rem;
  padding: 8em 0 0 8em;  
}
/*------------------------------------------------ N A V / B A R ------------------------------------------------------------------------*/
.navbar { /*navigation menù*/
    border-bottom: 1.5px solid #000;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: end;
    overflow:scroll;
    background-color: #B2C47E;
}
.navbar a { /*navigation links*/
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 1rem 2rem;
  text-decoration: none;
}
.subnav { /*subnavigation menù*/
  float: right;
  overflow: hidden;
}
.subnavbtn {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.subnav .subnavbtn { /*subnav button*/
  border: none;
  outline: none;
  padding: 1rem 2rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
/* Add a green background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #7EC489;
  color:#E0E3C3;
}  
/* Style the subnav content - positioned absolute */
.subnav-content {
   background-color: #7ec489a7;
   border: 1.5px solid #e0e3c3;
   display: none;
   position: absolute;
   left: 0;
   width: 100%;
   z-index: 2;
}  
/* Style the subnav links */
.subnav-content a {
  font-size: 13px;
  border: none;
  color:#000;
  text-decoration: none;
  padding: 1rem 2rem;
  position: relative;
  z-index: 1;
}  
.subnav-content a:hover {
  background-color: #E0E3C3;
  color: #7EC489;
  border-radius: 30px;
}
/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: flex;
  justify-content: end;
}
/*_______________________________________________________________________________________________________________________________________*/
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #DBE3C3;
}
/*_______________________________________________________________________________________________________________________________________*/
.heropic {
  background-color: #d1e3c3;
  display: grid;
  place-items: center;
  padding: 0 2em 2em 0;
  cursor: pointer;
}
.mainpic img {
  object-fit: none;
  object-position: 53% 91.5%;
  max-width: 35rem;
}
.mainpic img:hover {
  opacity: 0.9;
}
/*----------------------------------------- H E A D L I N E   ---------------------------------------------------------------------------*/
div.headline {
  background-color: #e0e3c3;
  border: 2px solid #000;
  display: grid;
  place-items: center;
  padding: 5em;
}
h1.headline {
    color: #000;
    font-family: 'Montagu Slab', serif;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}
h4 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 1em 0 0 0;
}
/*------------------------------------------------ M A I N ------------------------------------------------------------------------------*/
.contentpics img:hover {
  opacity: 0.7;
}
.card {
  padding: 5em 1em 0 1em;
  display: grid;
  place-items: center;
}
.illustratore {
  display: grid;
  place-items: center;
  padding: 1em;
}
p.main {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 0 1.5em;
  font-family: 'Montagu Slab', serif;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}
.karlotta {
  object-fit: none;
  object-position: 64% 21%;
}
.xoana {
  object-fit: none;
  object-position: 43% 36%;
}
.tim {
  object-fit: none;
  object-position: 57.9% 53.5%;
}
.linn {
  object-fit: none;
  object-position: 43% 13%;
}
.camilo {
  object-fit: none;
  object-position: 45% 32%;
}
.la {
  object-fit: none;
  object-position: 67% 22.3%;
}
/*------------------------------------------------------ F R E C C I N A ----------------------------------------------------------------*/
a.freccina {
    color: black;
    background: #ffffff;
    border-radius: 20px;
    padding: 8px;
    text-decoration: none;
    position: fixed;
    bottom: 7px;
    right: 25px;
    }
a.freccina:hover {
  background-color: #fff;
  border: 1.5px solid #000;
  color: rgb(0, 0, 0);
}
/*--------------------------------------------------------- F O O T E R -----------------------------------------------------------------*/
footer {
  background-color:#B2C47E;
  border-top: 1.5px solid #000;
  text-align: center;
}
.footer {
  padding: 1rem 2rem;
  min-height: 21px; 
  max-height: 233px
}
ul.down {
  list-style: none;
  margin: 0;
}
li.down {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
/*_________________________________________________________________ 1 ___________________________________________________________________*/
@media (max-width: 35em) {
.card {
  padding: 5em 1em 0 1em;
  display: grid;
  place-items: center;
}
.contentpics img {
  object-fit: none; 
}
main, .card  {
  background-color: #e0e3c3;
  max-width: 500px;
}
.contentpics {
  max-width: 1000px;
}
.contentpics img {margin: 0 0 5em 0;}

.trademark {
  background-color: #ffffff7c;
  border-radius: 0 0 4px 0;
}
.marchio {
  max-width: 3rem;
  padding: 6em 1em 1em 1em;  
}
.navbar { /*navigation menù*/
  border-bottom: 1.5px solid #000;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  overflow: scroll;
  background-color: #B2C47E;
}
.navbar a { /*navigation links*/
  border: none;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 1em 2em;
  text-decoration: none;
}
.subnav { /*subnavigation menù*/
  float: right;
  overflow: hidden;
}
.subnavbtn {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-weight: 500;
}
.subnav .subnavbtn { /*subnav button*/
  border: none;
  outline: none;
  padding: 1rem 2rem;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
/* Add a green background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
background-color: #7EC489;
color:#E0E3C3;
}  
/* Style the subnav content - positioned absolute */
.subnav-content {
 background-color: #e0e3c3c5;
 border: 1.5px solid #000000;
 display: none;
 position: absolute;
 left: 0;
 max-width: 30rem;
}  
/* Style the subnav links */
.subnav-content a {
  font-size: 13px;
  font-weight: 600;
  border: none;
  color:#000000;
  text-decoration: none;
  position: relative;
  z-index: 1;
}  
.subnav-content a:hover {
  background-color: #7EC489;
  font-weight: 600;
  padding: 1em 13em;
  color: #000000;
}
/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: grid;
  justify-content: center;
}
/*_______________________________________________________________________________________________________________________________________*/
.heropic {
  background-color: #7EC489;
  display: grid;
  place-items: center;
  padding: 0%;
  cursor: pointer;
}
.illustratore {
  display: grid;
  place-items: start;
  padding: 1em 1em 1em 0;
}
p.main {
  border: 1px solid rgb(0, 0, 0);
  color:#000000;
  font-family: 'Montagu Slab', serif;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.mainpic img {
  object-fit: none;
  object-position: 53% 92%;
  max-width: 30rem;
}
.mainpic img:hover {
  opacity: 0.9;
}
div.headline {
  background-color: #fff;
  border: none;
  display: grid;
  padding: 5em;
}
h1.headline {
    color: #000;
    font-family: 'Montagu Slab', serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
h4 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin: 1em 0 0 0;
}
/*_______________________________________________________________________________________________________________________________________*/
footer {background-color:#B2C47E;}
.footer {
  display: grid;
  place-items: start;
}
li.down {
  font-weight: 600;
}
a.freccina {
  color: black;
  background: #B2C47E;
  border-radius: 15px;
  margin: 0 -6px -2px 0;
  padding: 8px;
  text-decoration: none;
  position: fixed;
}
a.freccina:hover {
  border: 1.5px solid #000;
  color: rgb(0, 0, 0);}
}
/*_________________________________________________________________ 2 ___________________________________________________________________*/

/*_______________________________________________________________ 3 ______________________________________________________________________*/
@media (min-width: 40em) {
.card {
  padding: 9em;
  display: grid;
  place-items: center;
}
main, .card  {
  max-width: 1000em;
}
.contentpics {
  max-width: 100em;
  margin: 0 0 5em 0;
}
.contentpics img {
  margin: 0 0 5em 0;
}
}
