::-moz-selection { /* Code for Firefox */
  background: #7EC489;
}
::selection {
  background: #7EC489;
}
body {
  margin: 0 0;
  scroll-behavior: smooth;   
}
img {
  max-width: 100%;
  display: block;
}
main {
  max-width: 100%;
  margin: 0;
}
.contentpics img {
  max-width: 350px;
}
/*---------------------------------------------- T R A D E M A R K ---------------------------------------------------------------------*/
.trademark {
  display: grid;
  justify-content: start;
  position: absolute;
  z-index: 1;
}
.marchio {
  max-width: 6rem;
  padding: 8em 0 0 8em;  
}
/*------------------------------------------------ N A V / B A R ------------------------------------------------------------------------*/
.navbar { /*navigation menù*/
  border-bottom: 1.5px solid #000;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: end;
  overflow:scroll;
  background-color: #B2C47E;
}
.navbar a { /*voce 'about' nav menù*/
border: none;
display: grid;
grid-template-columns: 1fr;
font-family: 'Libre Franklin', sans-serif;
font-size: 14px;
font-weight: 500;
padding: 1em 2em;
text-decoration: none;
}
.subnav { /*voci 'llustratori' e 'about' menù nav*/
  float: right;
  overflow: hidden;
}
.subnavbtn {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.subnav .subnavbtn { /*bottone voce 'illustratore' del nav menù*/
  border: none;
  outline: none;
  padding: 1em 2em;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
/*passaggio del mouse si accende il bottone del nav menù e voci del menù a tendina*/
.navbar a:hover, .subnav:hover .subnavbtn {
  margin: 0;
  color:#E0E3C3;
}  
/*menù a tendina per selezionare gli illustratori disponibili*/
.subnav-content {
 background-color: #7ec489be;
 border-bottom: 1.5px solid #000000;
 display: none;
 position: absolute;
 left: 0;
 width: 100%;
 z-index: 2;
}  
/*link del menù a tendina*/
.subnav-content a {
  border: none;
  text-decoration: none;
  position: relative; 
  z-index: 1;
  margin: 0;
  padding: 1em;
}  
.subnav-content a:hover { /*bottone singolo illustratore al passaggio del mouse*/
  border-bottom: 4px solid #000000;
  color: #E0E3C3;
  font-weight: 700;
}
/*dimensione e disposizione menù a tendina con illustratori*/
.subnav:hover .subnav-content {
  display: flex;
  justify-content: center;
  
}
/*_______________________________________________________________________________________________________________________________________*/
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #E0E3C3;
}
/*_______________________________________________________________________________________________________________________________________*/
.heropic {
  display: grid;
  place-items: center;
  cursor: pointer;
}
.mainpic img {
  object-fit: none;
  object-position: 53% 91.5%;
  max-width: 30rem;
  margin: 0 0 5em 0;
}
.mainpic img:hover {
  opacity: 0.9;
}
/*----------------------------------------- H E A D L I N E   ---------------------------------------------------------------------------*/
div.headline {
  background-color: #e0e3c3;
  border-top: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
  display: grid;
  place-items: center;
  padding: 5em;
}
h1.headline {
    color: #000;
    font-family: 'Montagu Slab', serif;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}
h4 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 1em 0 0 0;
}
/*------------------------------------------------ M A I N ------------------------------------------------------------------------------*/
.contentpics img:hover {
  opacity: 0.7;
}
.card {
  padding: 8em 1em 3em 1em;
  display: grid;
  place-items: center;
}
.illustratore {
  display: flex;
  justify-content: start;
  padding: 3em 0 1em 0;
  margin: 0;
}
p.main {
  border: 1px solid #000;
  border-radius: 30px;
  padding: 0 1.5em;
  font-family: 'Montagu Slab', serif;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.karlotta {
  object-fit: none;
  object-position: 64% 21%;
}
.xoana {
  object-fit: none;
  object-position: 43% 36%;
}
.tim {
  object-fit: none;
  object-position: 57.9% 53.5%;
}
.linn {
  object-fit: none;
  object-position: 43% 13%;
}
.camilo {
  object-fit: none;
  object-position: 45% 32%;
}
.la {
  object-fit: none;
  object-position: 67% 22.3%;
}
/*------------------------------------------------------ F R E C C I N A ----------------------------------------------------------------*/
a.freccina {
    color: black;
    background: #ffffff;
    border-radius: 20px;
    padding: 8px;
    text-decoration: none;
    position: fixed;
    bottom: 7px;
    right: 25px;
    }
a.freccina:hover {
  background-color: #fff;
  border: 1.5px solid #000;
  color: rgb(0, 0, 0);
}
/*-------------------------------------------------------- F O O T E R -----------------------------------------------------------------*/
footer {
  background-color:#B2C47E;
  border-top: 1.5px solid #000;
  text-align: center;
}
.footer {
  padding: 1rem 2rem;
  min-height: 21px; 
  max-height: 233px
}
ul.down {
  list-style: none;
  margin: 0;
}
li.down {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
/*_________________________________________________________________ 1 ___________________________________________________________________*/
@media (max-width: 35em) {
  /*link del menù a tendina*/
.subnav-content a {
  border: none;
  text-decoration: none;
  position: relative; 
  z-index: 1;
  margin: 0.3em;
  padding: 0.3em;
} 
.card {
  padding: 8em 1em 0 1em;
  display: grid;
  place-items: center;
}
.contentpics img {
  object-fit: none; 
}
main, .card  {
  background-color: #e0e3c3;
  max-width: 500px;
}
.contentpics {
  max-width: 1000px;
}
.contentpics img {margin: 0 0 5em 0;}
/*_______________________________________________________________________________________________________________________________________*/
.heropic {
  background-color: #ffffff;
  display: grid;
  place-items: end;
  padding: 0;
  cursor: pointer;
}
.mainpic img {
  object-fit: none;
  object-position: 49.8% 93%;
  max-width: 21rem;
  margin: 0;
}
.mainpic img:hover {
  opacity: 0.9;
}
.illustratore {
  display: grid;
  place-items: start;
  padding: 1em 1em 1em 0;
}
p.main {
  border: 1px solid rgb(0, 0, 0);
  color:#000;
  font-family: 'Montagu Slab', serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
div.headline {
  background-color: #fff;
  border: none;
  display: grid;
  padding: 3em;
}
h1.headline {
    color: #000;
    font-family: 'Montagu Slab', serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
h4 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin: 1em 0 0 0;
}
/*_______________________________________________________________________________________________________________________________________*/
footer {background-color:#B2C47E;}
.footer {
  display: grid;
  place-items: start;
}
li.down {
  font-weight: 600;
}
a.freccina {
  color: black;
  background: #B2C47E;
  border-radius: 15px;
  margin: 0 -6px -2px 0;
  padding: 8px;
  text-decoration: none;
  position: fixed;
}
a.freccina:hover {
  border: 1.5px solid #000;
  color: rgb(0, 0, 0);}
}
/*_________________________________________________________________ 2 ___________________________________________________________________*/
@media (max-width: 35em) {
  .trademark {
    border-radius: 0 0 4px 0;
  }
  .marchio {
    max-width: 4rem;
    padding: 6em 1em 1em 3em;  
  }
}
/*_________________________________________________________________ 3 ___________________________________________________________________*/
@media (min-width: 35em) {
  .trademark {
  border-radius: 0 0 4px 0;
}
  .marchio {
    max-width: 4rem;
    padding: 6em 1em 1em 3em;  
}
}
@media (min-width: 50em) {
  .trademark {
    border-radius: 0 0 4px 0;
}
  .marchio {
    max-width: 4.5rem;
    padding: 6em 1em 1em 6em;  
}
}
@media (min-width: 70em) {
  .trademark {
    border-radius: 0 0 4px 0;
  }
  .marchio {
    max-width: 6rem;
    padding: 6em 1em 1em 9em;  
  }
}
