::-moz-selection { /*Code for Firefox */
  background: #7EC489;
}
::selection {
  background: #7EC489;
}
html, .root {
  font-size: 15px;
  line-height: 18px;
}
body, .article {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 18px;
  max-width: 100%;
  margin: 0 0;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  display: block;
}
main {
  max-width: 100%;
  margin:0;
}
/*-------------------------------------------------------- T R A D E M A R K ------------------------------------------------------------*/
.trademark {display: flex; position: absolute; z-index: 1;}  
.trade {max-width: 13rem; padding: 0.5em 0 0 1em;}
/*-------------------------------------------------------- N A V  B A R -----------------------------------------------------------------*/
header {position: -webkit-sticky; position: sticky; top:0;}
/** {
  transition: all 0.3s;
  -webkit-transition:all 0.3s; 
  font-family: 'Libre office', sans-serif;
}*/
.header-nav {
  background-color: #bbdfb8; 
  display: grid; 
  place-items: end; 
  max-width: 100%; 
  padding: 1em 2em;}
/*box con 3 voci: home - illu - ab*/
.header-nav ul {position: absolute; float: left; list-style: none; margin:0; padding:0;}
.header-nav ul li {background-color: firebrick; position: relative; float: left;}
.header-nav > ul {position: relative;}
.header-nav > ul > li > .header-nav-link + ul li {
  width: 8em; 
  padding: 1em 1em;
  margin-top: -13em;
  text-align: center;
}
.header-nav > ul > li:hover .header-nav-link + ul > li {
  background-color: #fff; 
  margin-top:0; 
  border: 1px solid #000; 
  border-radius: 2em;
  width: 8em;
}
.header-nav-link:hover {color: #fff; font-weight: 400;}
.header-nav .header-nav-link {text-decoration:none; font-weight: 450;}

/*3 voci nav bar - links*/
.header-nav .header-nav-top-link {padding: 1em 2em;}

.header-nav ul li:hover .header-nav-top-link {padding: 1em 2em;}

/* POSIZIONE COMPARSA menù a tendina con artisti*/
.header-nav > ul > li > .header-nav-top-link + ul {top: 2.2em;}
/*_______________________________________________________________________________________________________________________________________*/
a {color: #000; text-decoration: none; line-height: 0;}
a:hover {color: #7EC489; font-weight: 700;}
/*----------------------------------------- H E R O  /  P I C ---------------------------------------------------------------------------*/
.heropic {
  display: grid;
  place-items: center;
  cursor: pointer;
  position: relative;
  z-index: -1;
}
.mainpic img {
  object-fit: none;
  object-position: 53% 93.5%;
  width: 89em;
  height: 34em;
  margin: 0 0 5em 0;
}
/*----------------------------------------- H E A D L I N E -----------------------------------------------------------------------------*/
div.headline {
  background-color: #7EC489;
  border-top: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
  display: grid;
  place-items: center;
  padding: 3em;
}
h1.headline {
  color: #000;
  font-family: 'Montagu Slab', serif;
  font-size: 4.26666667em;
  line-height: 1.0625em;
  margin-top: 0.265625em;
  margin-bottom: 0.53125em;
  font-weight: 500;
  margin: 0;
  max-width: 60rem;
}
h4 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 1.2em;
  margin-bottom: 0em;
  font-weight: 400;
  line-height: 1.5;
  margin: 1em 0 0 0;
}
/*------------------------------------------------ M A I N ------------------------------------------------------------------------------*/
.card img:hover {
  opacity: 0.7;
}
.card {
  max-width: 15rem;
}
.contentpics {
  max-width: 100rem;
  margin: 5em auto;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 21px;
}
h3.main {
  font-family: 'Montagu Slab', serif;
  font-size: 1.6em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-weight: 500;
}
.karlotta {
  width: 13em;
  height: 13em;
  object-fit: none;
  object-position: 64% 27.2%;
}
.xoana {
  width: 13em;
  height: 13em;
  object-fit: none;
  object-position: 45% 36%;
}
.tim {
  width: 13em;
  height: 13em;
  object-fit: none;
  object-position: 41%;
}
.linn {
  width: 13em;
  height: 13em;
  object-fit: none;
  object-position: 46% 13%;
}
.camilo {
  width: 13em;
  height: 13em;
  object-fit: none;
  object-position: 48% 32%;
}
.la {
  width: 13em;
  height: 13em;
  object-fit: none;
  object-position: 65% 27%;
}
/*------------------------------------------------------ F R E C C I N A ----------------------------------------------------------------*/
a.freccina {
  background-color: #7EC489;
    color: #000;
    border-radius: 20px;
    padding: 1em 0.5em;
    text-decoration: none;
    position: fixed;
    bottom: 8px;
    right: 21px;
    }
a.freccina:hover {
  background-color: #fff;
  border: 1.5px solid #000;
  color: #000;
}
/*-------------------------------------------------------- F O O T E R -----------------------------------------------------------------*/
footer {
  background-color:#B2C47E;
  border-top: 1.5px solid #000;
  text-align: center;
  padding: 1em;
}
ul.down {
  list-style: none;
  margin: 0;
}
li.down {
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 0em;
  margin-bottom: 1.2em;
  margin: 0;
}
/*_________________________________________________________________ 1 ___________________________________________________________________*/
@media (max-width: 35em) { 
  .trademark {display: flex; position: absolute; z-index: 1;}  
  .trade {max-width: 10rem; padding: 0.5em 0 0 1em;}
  /*_______________________________________________________________________________________________________________________________________*/  
  header {
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 1;
  }
  /** {transition:all 0.3s;-webkit-transition:all 0.3s; font-family: 'Libre office', sans-serif;}*/
  .header-nav {background-color: #bbdfb8; display:flex; justify-content: end; max-width: 100%; padding: 1em 0;}
  
  /*box con 3 voci: home - illu - ab*/
  .header-nav > ul > li:hover .header-nav-link + ul > li {
    background-color: #fff; 
    margin-top:0; 
    border: 1px solid #000; 
    border-radius: 2em;
    width: 8em;
  }
  .header-nav-link:hover {color: #fff; font-weight: 400;}
  .header-nav .header-nav-link {text-decoration: none; font-weight: 450;}
  
  /*3 voci nav bar - links*/
  .header-nav .header-nav-top-link {padding: 1em 1em;}
  
  .header-nav ul li:hover .header-nav-top-link {padding: 1em;}
  
  /* POSIZIONE COMPARSA menù a tendina con artisti*/
  .header-nav > ul > li > .header-nav-top-link + ul {top: 2em;} 
/*_______________________________________________________________________________________________________________________________________*/
.heropic {cursor: pointer;}
.mainpic img {
  object-fit: none;
  object-position: 49.6% 92.5%;
  max-width: 21rem;
  max-height: 34rem;
  margin: 0;
  padding: 0 1em;
}
.mainpic img:hover {
  opacity: 0.9;
}
/*_______________________________________________________________________________________________________________________________________*/
div.headline {
  background-color: #7EC489;
  border-top: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
  display: grid;
  place-items: center;
  padding: 3em;
}
/*like h3*/
h1.headline {
  color: #000;
  font-family: 'Montagu Slab', serif;
  font-size: 1.6em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-weight: 500;
  margin: 0;
  max-width: 34rem;
}
/*like p*/
h4 { 
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  margin-top: 0em;
  margin-bottom: 1.2em;
}
/*_______________________________________________________________________________________________________________________________________*/
.card {
  max-width: 21rem;
  margin: 3em;
}
.card img:hover {
  opacity: 0.7;
}
.contentpics {
  max-width: 100rem;
  margin: 3em auto;
  display: grid;
  place-items: center;
  gap: 8px;
}
p.main {
  width: 21em;
} 
/*_______________________________________________________________________________________________________________________________________*/
footer {background-color:#B2C47E;}
.footer {
  display: grid;
  place-items: start;
}
li.down {
  font-weight: 600;
}
/*_______________________________________________________________________________________________________________________________________*/
a.freccina {
  color: black;
  background: #B2C47E;
  border-radius: 20px;
  padding: 1em 0.5em;
  text-decoration: none;
  position: fixed;
  bottom: 8px;
  right: 21px;
}
a.freccina:hover {
  border: 1.5px solid #000;
  color: rgb(0, 0, 0);
}
}
