::-moz-selection { /* Code for Firefox */
  background: #7EC489;
}
::selection {
  background: #7EC489;
}
body {
    margin: 0;
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
    display: block;
}
.trademark {
    display: flex;
    justify-content: start;
    max-height: 0;
    position: absolute;
    z-index: 1;
  }
.marchio {
    width: 6%;
    padding: 89px 0 0 144px;
  }
  /*---------------------------------------------------------------------------------------------------------------*/
  .navbar { /*navigation menù*/
    border: 1.5px solid #000;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: end;
    overflow:scroll;
    background-color: #B2C47E;

}
.navbar a { /*navigation links*/
  border: none;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 21px 21px;
  text-decoration: none;

}
.subnav { /*subnavigation menù*/
  float: right;
  overflow: hidden;
}
.subnavbtn {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;

}
.subnav .subnavbtn { /*subnav button*/
  border: none;
  outline: none;
  padding: 21px 21px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
/* Add a green background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #7EC489;
  color:#E0E3C3;
}  
  /* Style the subnav content - positioned absolute */
.subnav-content {
   background-color: #7ec489a7;
   border: 1.5px solid #e0e3c3;
   display: none;
   position: absolute;
   left: 0;
   width: 100%;
   z-index: 2;
}  
  /* Style the subnav links */
.subnav-content a {
  border: none;
  color:#000;
  text-decoration: none;
  padding: 13px 55px;
  position: relative;
  z-index: 1;
}  
.subnav-content a:hover {
  background-color: #E0E3C3;
  color: #7EC489;
  border-radius: 30px;
}
  /* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: flex;
  justify-content: end;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #DBE3C3;
}
div.headline {
  display: flex;
  justify-content: start;
  width: 200px;
}
.sito:hover {
  color: #000;
}
:root {
    --link-color: #000;
}
.sito {
    position: relative;
    color: var(--link-color);
    display: inline-block;
}
.sito:after {
    position: absolute;
    left: 0px;
    background-color: var(--link-color);
    content: '';
    display: block;
    height: 5px;
    transition: width .7s;
    width: 0;
    margin: 5px 0 0 0;
}
.sito:hover:after {
    width: 100%;
}
.herobox {
    height: 893px;
    background-image: url("../pics/tim/6.png");
    background-size:auto;
    background-position: -25px 48.5%;
    opacity: 75%;
}
/*--------------------------------------------- H E A D L I N E --------------------------------------------------*/
.autore {
  display: flex;
  justify-content: end;
  padding: 610px 0 0 987px;
  position: absolute;
  z-index: 1;
}
h2.name {
  color: #000;
  font-family: 'Montagu Slab', serif;
  font-size: 40px;
  font-weight: 500;
}
p.web {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
/*-------------------------------------------------- M A I N -----------------------------------------------------*/
.illustrazioni {
  display: grid;
  flex-direction: column;
  padding: 144px 0 144px 377px;
}
.contentpics img {
  width: 60%;
  margin: 0;
}
img.prima, .seconda, .terza, .quarta {
  padding: 144px 0;
}
.content {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 55px 0 0 144px;
    max-width: 450px;
}
h5 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
a.freccina {
    color: black;
    background: #ffffff;
    font-display: center;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    position: fixed;
    bottom: 8px;
    right: 15px;
    z-index: 99px;
    }
  a.freccina:hover {
    border: 1px solid #000;
    color: white;
    background-color: #7ec489;
   }
    /*----------------------------------------------------------------------- F O O T E R --------------------------------------------------*/
footer {
    background-color:#B2C47E;
}
ul.down {
    list-style: none;
    margin: 0;
}
ul.down {
    background-color: #B2C47E;
    display: flex;
    justify-content: center;
}
li.down {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    padding: 21px 233px 21px 233px;
}